<!doctype html>
<html>
    {% set title = "Colorado College's Tiger Catalog" %}
    <head>
        <meta charset="utf-8">
        <title>{{ title }} {% block sub_title %}{% endblock %}</title>
        <style>
            body {
                display: grid;
                font-family: Georgia!important;
                {#grid-template-rows: 80px min-content min-content 1fr;
                grid-template-columns: 15em 1fr;#}
            }

            h1, h2, h3, h4 {
                font-family: montserrat!important;
            }
    
            {% block more_css %}{% endblock %}
        </style>
    </head>
    <body>
    {% block main %}{% endblock %}
    </body>
</html>
